.logo {
    padding-left: 20px;
}

.container {
    position: relative;
}

.text {
    color: darkblue;
    font-family: inherit;

}

.w3-card-4 {
    position: absolute;
    top: 50px;
    bottom: 850px;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-top: 40px;
    margin-left: 180px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 0px;
    background-color: white;
}

